/******************************************************************
Stylesheet: Editor Stylesheet
******************************************************************/
blockquote {
  font-size: 120%;
  line-height: 1.4;
  font-style: normal;
  position: relative;
  display: block;
  padding: 0.6em 1em;
}
blockquote p {
  display: inline;
}
blockquote:before {
  position: absolute;
  top: -0.4em;
  left: -0.6em;
  font-size: 3em;
  padding: 5px;
  clear: both;
  content: '\201C';
}
blockquote footer {
  font-style: normal;
  font-size: 70%;
  text-align: right;
}
blockquote.heart {
  text-align: center;
  font-size: 120%;
  line-height: 1.4;
  font-style: normal;
  position: relative;
  display: block;
  width: 90%;
  margin: 2.5em auto 1.5em;
  padding: 0.3em 0;
}
blockquote.heart p {
  display: inline;
}
blockquote.heart:before {
  text-align: center;
  font-size: 1.7em;
  width: 100%;
  clear: both;
  z-index: -1;
  content: '\2665';
  display: block;
  clear: both;
  line-height: 0;
}
blockquote.heart footer {
  font-style: normal;
  font-family: sans-serif-reg;
  font-size: 70%;
  text-align: right;
}
